.container {
  align-items: center;
  border: 3px solid rgb(127, 216, 254);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top: 30vh;
  width: 270px;
}
